

/* __________________________________________NAVBAR🔽_____________________________________ */
body{
    background-color: #16213e1d; 
    overflow-x: hidden;
}

.navbar {
   padding: 0;
}

.container-fluid {
    padding: 1rem 5rem;
}

.container-fluid a{
    color: var(--letra-escura);
}

.navbar-brand {
    font-size: 2rem;
    margin-left: 5.5rem;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    margin-right: 6rem;
    font-size: 1.5rem;
   
} 

#home{
    color: var(--letra-escura);
}




/* __________________________________________NAVBAR🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* __________________________________________TEXTO TOPO🔽_____________________________________ */



.navhead h1 {
    font-size: 4rem;
    margin: 15rem 0 1rem 10rem;
}

.navhead p {
    font-size: 2rem;
    margin: 0 25rem 5rem 10rem;
}

.botao-head {
    font-size: 2rem;
    border: 3px solid black;
    background: transparent;
    width: 15rem;
    height: 5rem;
    margin: 0 0 10rem 10rem;
    border-radius: .3rem;
    
}

#foto-fundo {
    width: 100%;
    height: 80rem;
    position: absolute;
    z-index: -10;
    top: 0;
}

#foto-seta {
    width: 5rem;
    height: 5rem;
    position: relative;
    margin: 0 0 0 85%;
}



/* __________________________________________TEXTO TOPO🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* __________________________________________PORQUE ESCOLHER🔽_____________________________________ */



.porque {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
}

.titulo-porque {
    font-size: 4rem;
    
}

.foto-tripe {
    margin: 5rem 0 2rem 0;
    
}

.icon-empresa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;

}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.legenda-icon {
    width: 22rem;
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 2rem;
}




/* __________________________________________PORQUE ESCOLHER🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* __________________________________________PLANOS 🔽_____________________________________ */

.planos-geral {
    background-color: #152645;
    background-image: linear-gradient(0deg, #152645 3%, #16213e 54%);
    margin-top: 20rem;
    width: 100%;
    height: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-planos h1 {
    text-align: center;
    margin: 0 0 10rem 0;
    color: var(--letra-clara);
    font-size: 4rem;
}

.planos-princiapl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.planos-nome {
    width: 25rem;
    height: 40rem;
    text-align: center;
    color: var(--letra-clara);
    
    
}

.planos-nome h1 {
    font-size: 3rem;
    letter-spacing: .4rem;
    
}

.planos-nome h3 {
    font-size: 2rem;
}

.planos-nome p {
    font-size: 1.6rem;
    margin: 2rem;
    /*text-align: justify;*/
}

.botao-planos {
    margin-top: 2rem;
    background-color: var(--botao-destaque);
    width: 12rem;
    height: 3.5rem;
    font-size: 1.5rem;
    color: var(--letra-clara);
    border: none;
    border-radius: 20px;
}

/* __________________________________________PLANOS🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* __________________________________________PARCEIROS 🔽_____________________________________ */

.empresas-parceiras {
    height: 50rem;
  

    
}

.titulo-empresas h1 {
    padding: 3rem 0 1rem 0;
    text-align: center;
    font-size: 4rem;
}

.fotos-empresas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    gap: 12rem;
    margin-top: -3rem;
    
}

.fotos-logo {
    height: 5rem;
    margin-top: 3rem;

}

.ibm {
    width: 15rem;
    height: 16rem;
    
}

.coca {
    width: 15rem;
    height: 16rem;
    
}

.stone {
    width: 15rem;
    height: 16rem;
    
}

.picpay {
    width: 20rem;
    height: 16rem;
    
}

.ML {
    width: 18rem;
    padding-top: 105px;
    
}

.americanas {   
    width: 18rem;
    padding-top: 105px;
   
}



/* __________________________________________PARCEIROS🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* ________________________________________DEPOIMENTOS 🔽_____________________________________ */

.depoimentos-geral {
    background-color: #152645;
    background-image: linear-gradient(0deg, #152645 3%, #16213e 54%);
    width: 100%;
    height: 85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.depoimentos-planos h1{
    text-align: center;
    margin: -10rem 0 10rem 0;
    color: var(--letra-clara);
    font-size: 4rem;
}


.depoimentos-princiapl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.depoimentos-nome {
    width: 26rem;
    height: 40rem;
    border: 1px groove var(--letra-clara);
    color: var(--letra-escura);
    background-color: #fafafa;
    background-image: linear-gradient(315deg, #fafafa 0%, #ffffff 95%);
    border-radius: .3rem;

    
}

.foto-depoimento img{
    /* border: 2px groove black; */
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 2rem;
}



.pessoas-depoimentos {
    width: 10rem;
    margin: -9rem 0 7rem 15rem;
}

.pessoas-depoimentos h1 {
    font-size: 2rem;
}

.pessoas-depoimentos h3 {
    font-size: 1.3rem;
}

.depoimentos-nome p {
    font-size: 1.3rem;
    margin: 1rem 2.5rem;
}

/* __________________________________________PARCEIROS🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* _________________________________________FOTO-RICO🔽_____________________________________ */

figure {
    margin: 0;
}


.foto-frase img{
    width: 100%;
    height: 80rem;
    opacity: 0.7;
    margin: 0;
    
    
    
}

.frase-geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo-1);

    
}

.div-frase {
    position: absolute;
    z-index: 10;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    height: 50rem;
    width: 100rem;
    margin-bottom: 85rem;
    
    
}

.p-frase {
    font-size: 5rem;
    padding: 150px;
   /* margin: 5rem 10rem 5rem 10rem;*/
    font-weight: bold;
    text-align: center;
    color: var(--botao-destaque);
}

.p-frase2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: var(--botao-destaque);
}


/* __________________________________________FOTO-RICO🔼_____________________________________  */

/* __________________________________________________________________________________________ */

/* _________________________________________RODAPE🔽_____________________________________ */



.rodape {
    background-color: #152645;
    background-image: linear-gradient(180deg, #152645 3%, #16213e 54%);
    width: 100%;
    height: 40rem;
    
    color: var(--botao-destaque);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 10rem;
   
}

.contao-rodape {
    display: flex;
    flex-direction: column;
}

.contato-li {
    font-size: 1.3rem;
    color: var(--letra-clara);
    padding-top: 2rem;
}

.info-li {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--letra-clara);
    padding-top: 2rem;
}

.lista-info a {
    text-decoration: none;
}

/* __________________________________________RODAPE🔼_____________________________________  */

/* __________________________________________________________________________________________ */






